<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="article in articles" v-if="article.prix > 0" >
                {{ article.label }}:{{ article.prix }}€</br>
                <!-- apparently we cannot inject data using {{}} in an HTLM attribute anymore, probably for convenience / security concerns.
                     We need to use "bindings", as below
                -->
                <a :href="article.url">{{ article.label }}</a>
            </li>
        </ul>
        <p>Prix total: {{ somme }}€</p>

        <p>lien vers les fruits</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <script>
        const app = new Vue(
            {
                el: "#app",
                data:{
                    articles: [
                        {
                            label: 'pomme',
                            prix: 0.50,
                            url: "pomme.html",
                        },
                        {
                            label: 'poire',
                            prix: 0.50,
                            url: "poire.html",
                        },
                        {
                            label: 'livre',
                            prix: 0.50,
                            url: "livre.html",
                        },
                        {
                            label: 'pizza',
                            prix: 0,
                            url: "pizza.html",
                        },


                    ],
                },
                computed:{
                    somme() {
                        let total = 0;
                        this.articles.forEach(article => {total+= article.prix});
                        return total;
                    }
                }
            }
        );
    </script>
</body>
</html>